/*reglas
selectores
declaraciones
propiedades
*/
/*selector de etiqueta header - section -article -nav*/
/*header{
    background: pink;
}*/

/*selecto descendente */
/*body header nav ol li a*/

/*selecto de clase . */
/*.link*/

/*selectores de id #*/

/*#portafolio*/

body{
    font-family: 'Source Sans Pro',sans-serif;
}
/*h1 {*/
    /*font-family: "Times New Roman";*/
/*}*/

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fjalla One', sans-serif;
}